<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <h1>URL Shortener</h1>
  <% if (locals.id) { 

  }
  %>
  <div>
    <form method="POST" action="/url">
      <label>Enter Your original URL</label>
      <input
        type="text"
        name="redirectURL"
        placeholder="https://example.com"
      />
      <button type="submit">Generate</button>
    </form>
  </div>
  <div>
    <% if (locals.urls) { %>
     <table>
      <thead>
        <th>S.No</th>
        <th>ShortID</th>
        <th>Redirect</th>
        <th>Clicks</th>
      </thead>
      <tbody>
        <% urls.forEach( => { %>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        <% }) %>
      </tbody>
     </table>
    <% } %>
  </div>
</body>
</html>